.modal-75w {
    width: 75%;
    max-width: none!important;
}

.modal-50w {
    width: 50%;
    max-width: none!important;
}

.readRecipeInfo {
    font-size: 25px;
    padding-bottom: 20px;
}

.modal-open .condensedGroup {
    line-height: 0;
}

.form-group .condensedGroup {
    margin-bottom: 0;
}

.smallTableButton {
    // padding: 2px 2px 2px 2px;
    margin-right: 5px;
}

// @import "~bootstrap/scss/bootstrap";